* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
/*.JAVAPLUGIN IN CSS-SMOOTHBOX*****.*/
ody, html {
    height:100%;
    width:100%;
}
/* wrapper */
.smoothbox {
    position: fixed;
    top:0;
    left:0;
    background:rgb(0,0,0);
    background: rgba(0, 0, 0, 0.9);
    height:100%;
    width:100%;
    z-index: 9999;
}
/* wrapper after loading */
.sb-load {
    background:url('images/load.gif') center no-repeat rgba(0,0,0,.9);
}
/* vertical centering */
.smoothbox-table {
    top:0;
    height:100%;
    width:100%;
    display:table;
}
.smoothbox-centering {
    display:table-cell;
    vertical-align:middle;
    top:0;
    height:100%;
    width:100%;
}
/* horizontal centering & sizing */
.smoothbox-sizing {
    display:none;
    position: relative;
    margin: 0 auto;
    padding: 0px;
    width: 80%;
}
/* item wrapper */
.sb-items {
    margin: 0 auto;
    width: auto;
    padding: 0;
    list-style: none;
    border-radius: 2px;
    display: table;
}
.sb-items:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* items */
.sb-item {
    left: 0;
    top:0;
    width: 100%;
    max-height: 80%;
    float: left;
    margin-right: -100%;
    position: relative;
    zoom: 1;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 1), 0px 0px 0px 6px #292929;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .4s ease-out;
    -moz-transition:all .4s ease-out;
    transition: all .4s ease-out;
}

.no-trans {
    -webkit-transition:none;
    -moz-transition:none;
    transition:none;
}

.sb-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 2px;
    position: relative;
}
/* forward animation */
.sb-item-ani {
    top: 400px;
    opacity:0;
    -webkit-transform:scale(.5)rotate(25deg);
    -moz-transform:scale(.5)rotate(25deg);
    transform:scale(.5)rotate(25deg);
}
/* back animation */
.sb-item-ani2 {
    top:400px;
    -webkit-transform:scale(.5) rotate(25deg);
    -moz-transform:scale(.5) rotate(25deg);
    transform:scale(.5) rotate(25deg);
    opacity:0;
}
.sb-caption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background:rgb(0,0,0);
    background: rgba(0, 0, 0, 0.9);
    color: #CCC;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    z-index: 1;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
/* buttons */
.sb-nav {
    position:absolute;
    top: 10px;
    width: 100%;
    margin: 0 auto;
    display: none;
    z-index: 10;
    text-align: center;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    font-size: 0;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    transition:all .15s ease-out;
    zoom:1;
}
.sb-nav:hover {
    opacity:1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.sb-prev, .sb-next, .sb-cancel {
    display: inline-block;
    background:rgb(0,0,0);
    background: rgba(0, 0, 0, 0.9);
    position: relative;
    zoom:1;
    outline:none;
    margin-right:1px;
    color: #fff!important;
    width: 50px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 33px;
    -webkit-transition:all .15s ease-out;
    -moz-transition:all .15s ease-out;
    transition:all .15s ease-out;
}
.sb-prev {border-radius: 15px 0 0 15px;}
.sb-next {border-radius: 0 15px 15px 0;}
.sb-nav a:hover {
    background: #fff;
    color: #000!important;
}
.sb-cancel:hover {
    background:#820001;
}



/*.***********END SMOOTHBOX CSS.******.*/

/*.****HAMBURGER MENU******.*/
.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#000000;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#000000;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#dddddd;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#a2aeac; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#666;}
.menu ul li a:hover {  color: #666; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}
/*.*************HAMBURGER ENDS**************.*/




body{

	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	background: white;
}

nav{
	height: 300px;
}
summary{
	font-size: 1.2rem;
}

h1{

	background-color: #9ddad2;
	text-align: center;
	padding: 15% 3% 6% 3%;
	color: black;

	}

img{
	max-width: 100%;
}
.container{
	background: url("images/tealback.jpg");
	padding-top: 5%;
}
.dessert{
	padding-bottom: 5%;
}
h2{
	padding:2%;
	font-size:1.2rem;
	text-decoration: underline;
}

.recipe1{
	background:url("images/greyy.jpg");
	border: dashed 3px black;
	width:80%;
	margin: 5%;
	padding:3%;

}
.recipe2{
	background:#9ddad2;
}
 p{
	padding: 3%;
	font-size: .8rem;
}
.instructions{
	padding: 2% 2% 0 0;
	font-size: 1rem;


}
.desktop-menu{
	display: none;
}
ul li{
margin-left: 15%;
font-size: .8rem;

}
.ingredients{
	margin-left: 2%;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
}

/*.******FOOTER********.*/
.social-icons li img {
  width:30px;
  height:30px;
  margin-right:2%;

}
.social-icons {
  text-align: right;
  margin-right:2%;
  margin-top: 2%;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  }
.social-icons li a {
  border-bottom: none;
  }
footer{
	background: url("images/tealback.jpg");
	background-size: cover;
	height:100px;
	text-align: center;
	padding: 9% 0 2% 0;
	width:100%;
	clear:both;
}
.single p{
	text-align: left;
	font-size: .7rem;
	font-weight: bold;
   font-family: 'Montserrat', sans-serif;
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }
   .single p:hover {
      opacity: 0.5;
      }

/*.*******STICKY FOOTER CSS******.*/
.site{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.site-content{
	flex-grow: 1;
}
/*.*****END FOOTER******.*/
